{%- ########################################################################## 
# Label: slide on mobile
# Returns: a boolean. i.e. A binary value, either true or false.
########################################################################## -%}
{%- if section.settings.slide_on_mobile -%}
  {%- # Write your logic here -%} 
{%- endif -%}

{%- for block in section.blocks -%}
  {%- case block.type -%}

    {%- when 'icon_with_text' -%}
    <div class="icon-with-text">
      {%- ########################################################################## 
      # Label: icon
      # Returns: an image object or nil(if no selection has been made)
      # Image Properties: https://shopify.dev/api/liquid/objects#image
      # Image Filters: https://shopify.dev/api/liquid/filters#image_tag, https://shopify.dev/api/liquid/filters#image_url
      ########################################################################## -%}
      {%- assign icon = block.settings.icon -%}
      {{ icon | image_url: width: icon.width | image_tag: class: 'add_your_class_here', loading: 'lazy' }}

      {%- ########################################################################## 
      # Label: icon-text
      # Returns: a string or an empty object(if nothing has been entered)
      # Filters: https://shopify.dev/api/liquid/objects#string 
      ########################################################################## -%}
      {{ block.settings.icon-text }} 
    </div>
  {%- endcase -%}
{%- endfor -%}

{% schema %}
  {
  "name": "Icon text slider",
  "class": "icon-slide",
  "max_blocks": 12,
  "tag": "section",
  "settings": [
    {
      "type": "checkbox",
      "id": "slide_on_mobile",
      "label": "slide on mobile",
      "default": false,
      "info": "Enable slide on mobile"
    }
  ],
  "blocks": [
    {
      "name": "icon with text",
      "type": "column",
      "settings": [
        {
          "type": "image_picker",
          "id": "icon",
          "label": "icon",
          "info": "Pick an image or icon to display"
        },
        {
          "type": "text",
          "id": "icon-text",
          "label": "icon-text",
          "default": "Describe the image in your slide",
          "placeholder": "Icon description",
          "info": "Icon text shows customers quick and visual symbol explanations"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Icon text slider"
    }
  ]
}  
{% endschema %}

{% stylesheet %}

.icon-with-text {
  display: flex;
  gap: 1rem;
  background-color: hotpink;
}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}